@page "/simple"

<h3>bmiSample</h3>

<table class="table">
    <tr>
        <td>名前</td>
        <td>@name</td>
    </tr>
    <tr>
        <td>身長</td>
        <td>@height</td>
    </tr>
    <tr>
        <td>体重</td>
        <td>@weight</td>
    </tr>
</table>
<div style="font-size: @fontSize">計算結果は @bmi です。</div>
@code {
    private string name = "サトウユウスケ";
    private const double height = 170.0;
    private const double weight = 62.0;
    private double bmi = weight / ((height / 100) * (height / 100.0));
    private string fontSize = "32px";
}
