@page "/image"

@inherits ViewComponentBase<IndexViewModel>

<h3>Image</h3>

@if (imageSource is not null)
{
    <p>
        <img src="@imageSource" />
    </p>
}

@for (var i = 1; i <= 3; i++)
{
    var imageId = i;
    <button @onclick="() => ShowImage(imageId)">
        Image @imageId
    </button>
}

<div class="row">
    <div class="col-2">
        <InputButton Class="btn btn-primary" Command="@DataContext.CreateChartCommand">Create Chart!</InputButton>
    </div>
</div>

<div class="row my-4">
    <div class="col">
        <h3>グラフ 1</h3>
        <LineChart id="chart1" ItemsSource="@DataContext.ChartItems" />
    </div>
</div>

<div class="row">
    <div class="col">
        <h3>グラフ 2</h3>
        <LineChart id="chart2" ItemsSource="@DataContext.ChartItems2" />
    </div>
</div>


@code {
    private string? imageSource;

    private void ShowImage(int id)
    {
        imageSource = $"images/image{id}.png";

    }
}