@page "/"

@inherits ViewComponentBase<IndexViewModel>

<PageTitle>@DataContext.PageTitle</PageTitle>

<div class="row">
    <div class="col-2">
        <InputButton Class="btn btn-primary" Command="@DataContext.CreateChartCommand">Create Chart!</InputButton>
    </div>
</div>

<div class="row my-4">
    <div class="col">
        <h3>グラフ 1</h3>
        <LineChart id="chart1" ItemsSource="@DataContext.ChartItems" />
    </div>
</div>

<div class="row">
    <div class="col">
        <h3>グラフ 2</h3>
        <LineChart id="chart2" ItemsSource="@DataContext.ChartItems2" />
    </div>
</div>
